.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.bg-image {
  width: 100%;
  position: absolute;
  z-index: -1;
  max-width: 400px;
  margin: auto; }

.login-text-styles, .login-and-buttons .login-fields input, .login-and-buttons button {
  text-align: center;
  text-transform: uppercase;
  font-size: .7rem;
  color: #666; }

.demoForm {
  margin-top: 10%; }

.login-and-buttons {
  max-width: 300px;
  margin: auto;
  z-index: 3; }
  .login-and-buttons .login-fields {
    display: flex;
    width: 100%; }
    .login-and-buttons .login-fields input {
      width: 150px;
      height: 30px;
      background-color: #f2f2f2;
      border: 1px solid #fff; }
  .login-and-buttons button {
    border-radius: 0;
    width: 100%;
    height: 30px;
    background-image: none !important;
    border: 0;
    background-color: #666;
    color: #fff; }
  .login-and-buttons button:hover {
    background-color: #f2f2f2;
    color: #666; }

.one-line-spread {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: flex; }

div[id^=__lpform_] {
  display: none; }

.form-control {
  background-image: none !important; }

.noLastPassStyle {
  background-image: none !important;
  background-attachment: none !important;
  padding-right: 0 !important;
  border: 1px solid #ABADB3 !important; }

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: #fff;
  color: #000;
  outline: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1em;
  height: 1em;
  vertical-align: middle; }

select, select, select {
  background: #fff url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
  background-repeat: no-repeat;
  background-position: 97% center;
  padding: 0 25px 0 8px;
  font-size: .875em; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

input.middle:focus {
  outline-width: 0; }

[contenteditable="true"]:focus {
  outline: none; }

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s; }
